In [244]:
import json #To read API calls
import pandas as pd # to store API calls in Dataframes
import requests  # to make HTTP calls to the API
import openpyxl 
import datetime

API Call to create a List of All Exchanges available at eodhistorical

In [29]:
Exchange_API_CALL = "https://eodhistoricaldata.com/api/exchanges-list/?api_token=62f9fa8999db62.45214477&fmt=json"
print("Exchange Lists being downloaded")
exchange_call = requests.get(Exchange_API_CALL).text
Exchange_List = pd.DataFrame(json.loads(exchange_call))
print("Finished Loading Exchange List")

Exchange Lists being downloaded
Finished Loading Exchange List

Info on Exchange List Dataframe created

In [36]:
print(Exchange_List.head())

                   Name Code OperatingMIC Country Currency CountryISO2  \
0            USA Stocks   US   XNAS, XNYS     USA      USD          US
1       London Exchange  LSE         XLON      UK      GBP          GB
2  TSX Venture Exchange    V         XTSX  Canada      CAD          CA
3      Toronto Exchange   TO         XTSE  Canada      CAD          CA
4          NEO Exchange  NEO         NEOE  Canada      CAD          CA

  CountryISO3
0         USA
1         GBR
2         CAN
3         CAN
4         CAN

Exporting Exchange List to an Excel File

In [39]:
exchange_list_writer = pd.ExcelWriter('Exchange_List.xlsx')
Exchange_List.to_excel(exchange_list_writer)
exchange_list_writer.save()
print("Exchange List exported to an Excel File")

Exchange List exported to an Excel File

Creating a List of top 10 US MCap Tickers

In [245]:
List_Of_Tickers = ['AAPL', 'MSFT','GOOG', 'AMZN', 'TSLA', 'BRK-B', 'UNH', 'META', 'NVDA', 'V']
print(List_Of_Tickers)

['AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'BRK-B', 'UNH', 'META', 'NVDA', 'V']

Creating a DataFrame for Pricing of Top 10 MCap US Tickers

In [246]:
Ticker_Pricing = pd.DataFrame()
Ticker_Pricing.info()
Ticker_Series = pd.Series(List_Of_Tickers)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

API Call to add Ticker Pricing to DataFrame

In [247]:
start_date = datetime.date(2021, 8, 16)
end_date = datetime.date(2022, 8, 16)
for tic in List_Of_Tickers:
    Ticker_API_CALL = 'https://eodhistoricaldata.com/api/eod/{}.US?from={}&to={}&period=d&fmt=json&api_token=62f9fa8999db62.45214477'.format(tic, start_date, end_date)
    print(' '+ tic + " price for last year being downloaded")
    ticker_call = requests.get(Ticker_API_CALL).text
    Ticker_Price_List = pd.DataFrame(json.loads(ticker_call))
    Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)
print(Ticker_Pricing)

 AAPL price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 MSFT price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 GOOG price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 AMZN price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 TSLA price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 BRK-B price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 UNH price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 META price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 NVDA price for last year being downloaded

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

 V price for last year being downloaded
           date    open    high     low   close  adjusted_close    volume  \
0    2021-08-17  150.23  151.68  149.09  150.19        149.3531  92229700
1    2021-08-18  149.80  150.72  146.15  146.36        145.5444  86326000
2    2021-08-19  145.03  148.00  144.50  146.70        145.8825  86960300
3    2021-08-20  147.44  148.50  146.78  148.19        147.3642  60549600
4    2021-08-23  148.31  150.19  147.89  149.71        148.8758  60131800
..          ...     ...     ...     ...     ...             ...       ...
247  2022-08-10  214.83  214.84  211.31  212.10        211.7250   5746447
248  2022-08-11  213.29  213.50  210.59  211.08        211.0800   6639600
249  2022-08-12  213.00  213.22  210.10  211.33        211.3300   6442100
250  2022-08-15  210.37  216.74  210.37  216.42        216.4200   5290600
251  2022-08-16  214.55  217.61  212.13  217.14        217.1400   6564400

                                               warning
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
247                                                NaN
248                                                NaN
249                                                NaN
250                                                NaN
251  Data is limited by one year as you have free s...

[2520 rows x 8 columns]

/var/folders/mx/3njcjnr945sb00grfs87nn800000gn/T/ipykernel_1432/2136950657.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Ticker_Pricing = Ticker_Pricing.append(Ticker_Price_List)

Adding Ticker Column to Pricing DataFrame since this does not come with the Pricing API call

In [271]:
c = 0
#for c in range (len(Ticker_Pricing)):
for i in range(len(List_Of_Tickers)):
    while (c < (252*(i+1))):
        Ticker_Pricing.iloc[c,8] = List_Of_Tickers[i]
        c += 1

Rearranging columns of Pricing DataFrame so Ticker comes first

In [276]:
Ticker_Pricing.columns.values

array(['date', 'open', 'high', 'low', 'close', 'adjusted_close', 'volume',
       'warning', 'Ticker'], dtype=object)

In [277]:
Ticker_Pricing = Ticker_Pricing[['Ticker', 'date', 'open', 'close' , 'high' , 'low', 'adjusted_close', 'volume']]
Ticker_Pricing

,Ticker,date,open,close,high,low,adjusted_close,volume
0,AAPL,2021-08-17,150.23,150.19,151.68,149.09,149.3531,92229700
1,AAPL,2021-08-18,149.80,146.36,150.72,146.15,145.5444,86326000
2,AAPL,2021-08-19,145.03,146.70,148.00,144.50,145.8825,86960300
3,AAPL,2021-08-20,147.44,148.19,148.50,146.78,147.3642,60549600
4,AAPL,2021-08-23,148.31,149.71,150.19,147.89,148.8758,60131800
...,...,...,...,...,...,...,...,...
247,V,2022-08-10,214.83,212.10,214.84,211.31,211.7250,5746447
248,V,2022-08-11,213.29,211.08,213.50,210.59,211.0800,6639600
249,V,2022-08-12,213.00,211.33,213.22,210.10,211.3300,6442100
250,V,2022-08-15,210.37,216.42,216.74,210.37,216.4200,5290600
251,V,2022-08-16,214.55,217.14,217.61,212.13,217.1400,6564400

Exporting Ticker Pricing DataFrame to Excel File

In [278]:
ticker_pricing_list_writer = pd.ExcelWriter('Ticker_Pricing.xlsx')
Ticker_Pricing.to_excel(ticker_pricing_list_writer)
ticker_pricing_list_writer.save()
print("Ticker Pricing List exported to an Excel File")

Ticker Pricing List exported to an Excel File